global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "telemetry"
    metrics_path: /probe
    params:
      module: [telemetry]
    static_configs:
      - targets:
          - https://pixeltracker-1.onrender.com/api/telemetry

    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target

      - source_labels: [__param_target]
        target_label: instance

      - target_label: __address__
        replacement: json-exporter:7979
